body {
										background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 28%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(28%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 28%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 28%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 28%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 28%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
				
				
				margin: 0 auto;
				width:100%;
			}
			.clear{
				clear:both;
			}
			iframe{
			float:right;
			margin-right:20px;
			
			
		
		
			}
			#contenedor{
			width:100%;
	margin: 0 auto;
		
	}
	#pie a:hover{
	background-color:red;
	}
			#menu{
				background-color:#00FFFF;
				margin:0 auto;
			
				width: 1012px;
				padding:2px;
				
			}
			
			#menu a:hover{
				background-color:red;
				color:white;
			}
			#menu a{
				
				padding:5px;
				border-radius:4;
				background-color:blue;
				color:yellow;
			}
			#menu li{
				
				margin-left:60px;
				
				font-size:2em;
				float:left;
			}
			#cabecera{
				text-align: center;
				
				
			}
			#titulo{
				margin:0 auto;
				height:95px;
				width:52%;
				padding:10px;
				font-size:2em;
				background-color:#000080;
				color:yellow;
			background-image:url(../imagenes/descarga.jpg);
				background-repeat:no-repeat;
		background-position:center;
				background-size: 100%;
			}
		
			#introduccion{
			margin: 0 auto;
				
				border:2px solid black;
				width:1000px;
				height:900px;
				background-color:#E0FFFF;
			}
			#info{
				margin:2px;
				text-align: center;
				font-size:2em;
			}
			#info li{
					margin-left:20px;
				background-color:#B0C4DE;
				float:left;
				width:170px;
			}
			#noticias{
				margin-left:100px;
				width:300px;
				border:2px solid black;
				height:900px;
				float:left;
				text-align: center;
				background-color:#000080;
				
			}
			#noticias h1{
				color:yellow;
			}
			.noticias{
				background-color:#E0FFFF;
				
				margin:0 auto;
			}
			#derecha{
				margin-right:100px;
				width:300px;
				border:2px solid black;
				height:900px;
				float:right;
				text-align: center;
				background-color:#000080;
			}
			#resultados{
				width:300px;
				height:450px;
				text-align:center;
				
			}
			#imagenes{
				width:300px;
				height:450px;
				text-align:center;
			}
			#resultados h1{
				color:yellow;
			}
			#resultados a{
				color:white;
				font-size:20;
				
			}
		
			#imagenes h1{
				color:yellow;
			}
			table{
				border:4px solid black;
				font-size:2em;
				background-color:#E0FFFF;
			}
			.tablaACT{
				margin-left:200px;
				
				width:400px;
				float:left;
				
			}
				.tablaLGT{
				margin-left:200px;
				
				width:400px;
				float:left;
				
			}
				.tablaARC{
				margin-left:200px;
				
				width:400px;
				float:left;
				
			}
			.TablaACT caption h3{
				border-radius:10px;
				background-color:03BE2E;
				color:black;
				margin-top:10px;
				
			}	
		


			
			.TablaARC caption h3{
				border-radius:10px;
				background-color:EBB400;
				color:black;
				margin-top:10px;
			}
				.TablaLGT caption h3{
				border-radius:10px;
				background-color:04B9D0;
				color:black;
				margin-top:10px;
			}
			.tablaARC img{
				margin-left:100px;
				
				background-color:EBB400;
			}
			.tablaLGT img{
				width:150px;
				height:90px;
				margin-left:100px;
			}
			.TablaACT img{
				margin-left:100px;
				height:90px;
				width:150px;
				
			}
			#regatas{
				background-color:#E0FFFF;
				width:1800px;
				
				margin:0 auto;
				border-radius:20;
			}
			#regatas h1{
				text-align: center;
				font-size:100px;
			}
			#regatas a{
				
				margin-left:30px;
				font-size:2em;
				color:03BE2E;
				
				
			}
			#regatas a:hover{
			background-color:red;
			color:white;
			}
			#pie{
				background-color:#181515;
				border-radius:5;
			
			
			}
			#pie a{
				float:right;
				margin-right:75px;
					margin-bottom:2px;
			}
				#pie a:hover{
				 transform: scale(1.1);}
			#pie p{
				font-size:2em;
				color:yellow;
		margin-left:10px;
				
			}
			.tablaACT img:hover{
				transform:rotate(360deg);
				transition-duration:4s;
				
			}
			.tablaLGT img:hover{
					transform:rotate(360deg);
				transition-duration:4s;
			}
			.tablaARC img:hover{
					transform:rotate(360deg);
				transition-duration:4s;
			}
			